<footer>
    
    <div id="footer-container">

        <p class="clr-white">
            &copy; Codeial. All Rights Reserved
        </p>

        <ul>
            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/user/profile">Profile</a>
            </li>
        </ul>

    </div>

</footer>