<link rel="stylesheet" href="/css/home.css">

<div id="app">

    <section id="feed-posts">
        <% if(locals.user) { %>
            <form action="/posts/create" id="new-post-form" method="post">
                <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
                <input type="submit" value="Post">
            </form>
        <% } %>
        
        <h2>Posts</h2>
        
        <ul>
            <%- include('_posts', {postList}) %>
        </ul>  

    </section>
    
    <% if(locals.user && all_users.length > 1){ %>
        <section id="friends-list">
            <h3>Friends</h3>
            <% for(users of all_users){ %>
                <% if(users.id != locals.user.id){ %>
                    <p>
                        <a style="color:black;" href="/user/profile/<%= users.id %>"><%= users.name %></a>
                    </p>
                <% } %>
            <% } %>
        </section>
    <% } %>

</div>