
<form action="/user/create" method="post">
    <div>
        <div>
            <input type="name" name="name" id="user-name" placeholder="Username" required>
        </div>
        <div>
            <input type="email" name="email" id="user-email" placeholder="Email" required>
        </div>
        <div>
            <input type="password" name="password" id="user-pswd" placeholder="Password" required>
        </div>
        <button type="submit">Submit</button>
    </div>
</form>