body {
  margin: 0;
  font-family: sans-serif;
}

#nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  background-color: rgb(55, 191, 236);
}

#other-container {
  display: flex;
}
#other-container ul {
  margin: 0.6rem 0;
}
#other-container ul li {
  display: inline-block;
  margin: 0 0.3rem;
}

a {
  text-decoration: none;
  color: white;
}

#logo-txt {
  color: white;
  margin: 0.6rem 0;
  font-weight: bold;
  font-size: 1.6rem;
}
